@use './mixins' as mf;

.filters {
    padding-right: 2rem;
    text-align: left;

    > div {
        margin-bottom: 20px;
    }

    .label {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 4px;
    }

    .control {
        display: flex;
        
        > *:hover {
            cursor: pointer;
        }
    }
}

input[type="text"], input[type="search"], input[type="number"] {
    @include mf.inputText();
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
}