// card
$cardWidth: 120px;
$cardHeight: 135px;
$gap: 20px;

// label
$mainColor: #000;
$labelSize: 14px;
$labelWeight: 500;
$labelBG: rgb(40, 40, 40, 0.8);

// roles
$striker: rgb(204, 36, 27, 0.8);
$support: rgb(0, 107, 255, 0.8);
$light: rgb(204, 36, 27, 0.8);
$heavy: rgb(178, 109, 31, 0.8);
$special: rgb(0, 107, 255, 0.8);
$explosive: rgb(204, 36, 27, 0.8);
$piercing: rgb(178, 109, 31, 0.8);
$mystic: rgb(0, 107, 255, 0.8);