// card
$cardWidth: 120px;
$cardHeight: 135px;
$gap: 20px;

// label
$mainColor: #000;
$labelSize: 14px;
$labelWeight: 500;
$labelBG: rgba(40, 40, 40, 0.8);

// roles
$striker: rgba(204, 36, 27, 0.8);
$support: rgba(0, 107, 255, 0.8);
$light: rgba(204, 36, 27, 0.8);
$heavy: rgba(178, 109, 31, 0.8);
$special: rgba(0, 107, 255, 0.8);
$explosive: rgba(204, 36, 27, 0.8);
$piercing: rgba(178, 109, 31, 0.8);
$mystic: rgba(0, 107, 255, 0.8);